<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa {{ empresa.id }}</title>
</head>
<body>
    <div class="empresa-card">
    <h3>Empresa {{ empresa.id }}</h3>

    <p><strong>Nome:</strong> {{ empresa.nome }}</p>
    <p><strong>CNPJ:</strong> {{ empresa.cnpj }}</p>
    <p><strong>Email:</strong> {{ empresa.email }}</p>
    <p><strong>Telefone:</strong> {{ empresa.telefone }}</p>
    <p><strong>Obs.:</strong> {{ empresa.obs }}</p>

    <p><strong>Data Cadastro:</strong> {{ empresa.data_cadastro }}</p>
</div>
</body>
</html>
